*{
    padding: 0;
    margin: 0;
}
        body {
            background-color: #f0f6ff;
    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .about-container {
            max-width: 800px;
            margin: 50px auto;
             background-color: #ffffff;
    color: #1e293b;
            /* background: #ffffff; */
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            /* color: #333; */
               color: #2563eb;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        p {
            /* color: #555; */
             color: #475569;
            line-height: 1.6;
        }