* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
}
.navbar {
    background: linear-gradient(95deg, #252525, #000);
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 1s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    font-size: 26px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #0d6efd;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #0d6efd;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0d6efd, #0b5ed7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    animation: fadeUp 1.5s ease;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content h2 {
    font-size: 52px;
}

.hero-content p {
    margin: 15px 0;
    font-size: 18px;
}
.hero-content button {
    padding: 14px 35px;
    border: none;
    background: white;
    color: #0d6efd;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.hero-content button:hover {
    background: #0b5ed7;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


footer {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
